@import "navigation.css";
@import "footer.css";
@import "feed.css";
@import "post.css";
@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");
/*Typography
--------------------------------------------------------------*/

body, button, input, select, textarea {
    color: #404040;
    font-family: "Comfortaa", Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Patua One", serif;
    letter-spacing: 2px;
}

.actionIcon {
    height: 1.2em;
    margin: 0.5em 0.5em;
    cursor: pointer;
}

.highlight {
    border-color: purple;
}

.fakeLink {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
    background: none!important;
    border: none;
    cursor: pointer;
}

.fakeLink:hover {
    font-weight: bold;
}

.loginForm {
    margin: 0 25%;
}

.center{
    display: flex;
    justify-content: center;
}

.entryForm {
    display: none;
    flex-direction: column;
    justify-content: center;
}

.giffygram {
    margin-top: 50px;
}

.postList{
    padding-bottom: 100px;
}

html,body{
    background-color: lightgray;
}

.navigation, .footer {
    background-color: rgb(232,232,232);
}

.addPostButton{
    margin-left: 10px;
}

